<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="content" animate-panel effect="zoomIn">
<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            WELCOME TO DUQHAN
        </h2>

        <p>
            Special <strong>Admin Theme</strong> for small, medium and large webapp with very clean and aesthetic style and feel.
        </p>
    </div>
</div>
</div>

    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
