<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="content" animate-panel effect="zoomIn">
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            
            <div class="panel-body">
               <div class="col-md-3">
               <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
               </div>
               <div class="col-md-3">
                    <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
               </div>
               <div class="col-md-3">
                    <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
               </div>
               <div class="col-md-3">
                   <button type="button" class="btn w-xs btn-primary2" ui-sref="details-product">Details</button>
                  <button type="button" class="btn w-xs btn-info" ui-sref="Inventory">Inventory</button>
               </div>
            </div>
            
        </div>
    </div>
</div>
</div>
    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
