<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

  <div class="content" animate-panel effect="zoomIn">
    <div class="row" ng-repeat="product in ctrl.products">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-body">
           <div class="col-md-3">
            <img src="{{product.imgurl}}" alt="product" height="50%" width="50%" class="img-responsive img-thumbnail">
           </div>
           <div class="col-md-4">
            <h3>{{product.name}}</h3><br>
            <p>{{product.description}}</p>
           </div>
           <div class="col-md-2">
            <p>Available : {{product.available}}</p>
           </div>
           <div class="col-md-3">
            <button type="button" class="btn w-xs btn-primary2" ui-sref="details-product({product: product})">Details</button>
            <button type="button" class="btn w-xs btn-info" ui-sref="Inventory({id: product.productId})">Inventory</button>
         </div>
       </div>
     </div>
   </div>
 </div>
 <button type="button" class="btn w-xs btn-info"  ng-hide={{ctrl.isHide}} ng-click="ctrl.getMoreProduct()">Next</button>
</div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
<!-- Footer -->
<footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
