<div id="navigation">
    <div class="profile-picture">
        <a href="index.html">
            <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">DUQHAN</span>
            <div class="small-chart m-t-sm">
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="addproduct"> <span class="nav-label">ADD PRODUCT</span> <span class="label label-success pull-right"></span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="viewproducts"> <span class="nav-label">VIEW PRODUCT</span> <span class="label label-success pull-right"></span> </a>
        </li>
        <!-- <li>
            <a href="#"><span class="nav-label">Common views</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li ui-sref-active="active"><a ui-sref="common.login">Login</a></li>
                <li ui-sref-active="active"><a ui-sref="common.register">Register</a></li>
                <li ui-sref-active="active"><a ui-sref="common.error_one">Error 404</a></li>
                <li ui-sref-active="active"><a ui-sref="common.error_two">Error 505</a></li>
                <li ui-sref-active="active"><a ui-sref="common.lock">Lock screen</a></li>
                <li ui-sref-active="active"><a ui-sref="common.password_recovery">Password recovery</a></li>
            </ul>
        </li> -->
    </ul>
</div>